.postsWrapper {
    padding: 16px;
}

.posts {
    margin-top: 16px;
}

.textarea {
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    font-size: 16px;
    border: 1px solid #dfdfdf;
    outline: none;
    resize: none;
    width: 60%;
    height: 150px;

}

.btn {
    display: block;
    width: 100px;
    background-color: #41B883;
    border-radius: 3px;
    padding: 5px;
    color: #fff;
}

.btn:hover {
    cursor: pointer;
    background-color: #379c6f;
}

.btn:active {
    background-color: #41B883;
}