@import "../../../assets/variables/variables.scss";

.postsWrapper {
  padding: 16px;
}

.posts {
  margin-top: 16px;
}

.btn {
  display: block;
  width: 100px;
  background-color: $green;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
  &:hover {
    cursor: pointer;
    background-color: $greenHover;
  }
  &:active {
    background-color: $green;
  }
}
