@import '../../assets/variables/variables.scss';

.header {
  grid-area: header;
  background-color: $green;
  padding: 10px 40px;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  width: 100%;
  position: fixed;
  &__link {
    width: 40px;
    margin: 0 auto;
  }
}

