@import "../../assets/variables/variables.scss";

.header {
  grid-area: header;
  background-color: $green;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-around;
  &__loginBlock {
    color: #fff;
    font-size: 22px;
    & button {
      float: right;
      padding: 3px;
      background-color: #fff;
      color: $green;
      margin-top: 8px;
      &:hover {
        background-color: #eee;
      }
      &:active {
        background-color: #fff;
      }
    }
  }
  &__loginBlock_link {
    color: #fff;
    &:hover {
      color: darkgreen;
    }
    &:active {
      color: #fff;
    }
  }
}

@media (max-width: 768px) {
  .header {
    display: flex;
    position: static;
  }
}

@media (max-width: 480px) {
  .header {
    display: none;
  }
}
