@import "../../assets/variables/variables.scss";

.nav {
    grid-area: nav;
    background-color: $green;
    border-radius: 5px;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    margin-left: auto;
    width: 200px;
    &__item {
      color: #fff;
    }
    &__active {
      font-weight: bold;
    }
    &__ul {
      padding: 0;
      & li {
        display: flex;
        align-items: center;
      }
    }
    & i {
      margin-right: 5px;
      color: #fff;
      width: 25px;
    }
}

li {
  padding: 5px 24px ;
  &:hover {
    background: $greenHover;
  }
}

.navMobile {
  display: none;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .navMobile {
    display: block;
    background-color: $green;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    &__ul {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
    }
    &__item {
      color: #fff;
      font-size: 28px;
    }
  }
}

