.nav {
    grid-area: nav;
    background-color: #41B883;
}

ul {
  padding: 0;
}

li {
  padding: 5px 24px ;
}

li:hover {
  background: #36a372;
}

.item {
  color: #fff;
}

.item.active {
  color: darkgreen;
}