@import "../../assets/variables/variables.scss";

.nav {
    grid-area: nav;
    background-color: $green;
    border-radius: 5px;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    margin-left: auto;
    width: 200px;
    &__item {
      color: #fff;
    }
    &__active {
      color: darkgreen;
    }
    &__ul {
      padding: 0;
    }
}

li {
  padding: 5px 24px ;
  &:hover {
    background: $greenHover;
  }
}

