.paginationWrapper {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pageNumber {
    padding: 2px;
    border: 1px solid #ccc 
}

.selectedPage {
    font-weight: bold;
    border-color: #000;
}
