.item {
    margin: 0 0 20px 0;
}

.item img {
    width: 65px;
    border-radius: 50px;
}

.btn {
    display: block;
    background-color: #41B883;
    border-radius: 3px;
    padding: 5px;
    color: #fff;
    margin-right: 8px;
}

.btn:hover {
    cursor: pointer;
    background-color: #379c6f;
}

.btn:active {
    background-color: #41B883;
}

.likesWrp {
    display: flex;
}