.app-wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 60px 1fr;
  // grid-template-columns: 4fr 8fr;
  grid-gap: 60px 20px;
  &__content {
    grid-area: content;
    background-color: rgb(211, 228, 235);
    border-radius: 5px;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    width: 700px;
    margin-right: auto;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: block;
}

button,
input,
textarea {
  border: none;
  outline: none;
  display: block;
}

